@import url('https://fonts.googleapis.com/css2?family=Tapestry&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Tapestry", cursive;
}

.container {
  max-width: 1250px;
  padding-left: 50px;
  margin: auto 0;
}

.navigation {
  position: fixed;
  z-index: 999;
  padding-top: 50px;
  width: 100%;
  font-family: "Tapestry", cursive;
}
.navigation-hover {
  background-color: #76E6CC;
  padding: 15px;
}
.navigation .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation .home a {
  font-size: 50px;
  font-weight: 800;
  color: #FF1B14
}
.navigation .list li{
  list-style-type: none;
  display: inline;
}
.navigation .list li a{
  color: gold;
  margin-left: 20px;
  font-weight: 300;
  font-size: 20px;
}
.navigation .list li a:hover {
  font-size: 1.5em;
  color: yellow;
}

.dropdown {
  color: white;
  font-size: 2em;
  cursor: pointer;
  display: none;
}


.homepage {
  display:flex;
  background: url("https://i.postimg.cc/vTwyNhbk/panda.jpg") no-repeat fixed center;
  height: 100vh;
  background-size: cover;
  color: white;
  min-height: 500px;
}
.homepage .home-info {
  font-family: "Tapestry", cursive;
}
.homepage .container {
  margin: auto 0;
}
.homepage .home-info .info1 {
  font-size: 20px;
}
.homepage .home-info .info2 {
  font-size: 25px;
  margin-top: 10px;

}
.homepage .home-info .info3 {
  font-size: 20px;
  margin-top: 10px
}
.homepage .home-info .info4 {
  font-size: 20px;
  margin-top: 10px;
}
.homepage .home-info .info2 span {
  color: crimson;
}
#biography {
  padding-top: 100px;
}

.biography {
  font-family: "Tapestry", cursive;
}
.biography .heading {
  font-size:50px;
  padding: 30px;
  text-align: center;
  border-radius: 10px;
  border: 2px solid grey;
  text-decoration: overline;
}
.biography .bio-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.biography .bio-info .picture {
  width: 40%;
}
.biography .bio-info .text {
  width: 40%;
}
.biography .bio-info .picture img{
  margin-top: 20px;
  width: 300px;
  height: 300px;
  object-fit: contain;
  border-radius: 10px;
  border: 2px solid black;
}

section .biography {
  height: 75vh;
  width: 100%;
}

.biography .bio-info p {
  margin-top: 20px;
  text-indent: 30px;
  letter-spacing: 1px;
  line-height: 1.5;
  word-spacing: 10px;
  text-align: justify;
}
.biography .bio-info #icon:hover {
  font-size: 1.5em;

}

.slide-menu {
  padding: 20px;
  display: none;
  background-color: black;
  color:white;
}

section .resume {
  height: 75vh;
  width: 100%;
}
#resume {
  padding-top: 150px;
}
.resume .resume-info .heading-resume{
  font-size:50px;
  padding: 30px;
  text-align: center;
  border-radius: 10px;
  border: 2px solid grey;
  text-decoration: overline;
}
.resume .resume-info {
  background: pink;
  height: 50vh;
  width: 100%;
}
.resume .resume-modal {
  font-size: 30px;
  text-align: center;
}
.resume .resume-modal .modal-info{
  height: 100vh;
  display:none;
}
.resume .resume-info #resume-icon:hover {
  font-size: 2em;
  font-weight: 600px;
  color: gold;
}

#projects {
  heigh:100vh;
}
.projects .project-container {
  display:flex;
  flex-direction: column;
  align-items: center;

}
.carousel-container {
  display:inline-block;
  width:70%;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.projects .heading-project {
  margin-top: 700px;
  margin-bottom: 100px;
  font-size:50px;
  padding: 30px;
  text-align: center;
  border-radius: 10px;
  border: 2px solid grey;
  text-decoration: overline;
}
.carousel-pictures img {
  width: 50%;
  height: 50vh;
  display:none;

}
.right-button {
  display:inline-block;
  float:right;
  font-size: 30px;
  width:20%;
}
.left-button {
  display:inline-block;
  float:left;
  font-size: 30px;
  width:20%
}
.right-button:hover{
  font-size:2.5em;
  color:blue;
}
.left-button:hover{
  font-size:2.5em;
  color:blue;
}
.projects .carousel-pictures img:first-of-type {
  display: block;
}
footer {
  margin-top: 50px;
  height:10vh;
  background-color: #76E6CC;
}
footer ul{
  padding-top: 20px;
  text-align: center;
}
footer li{
  display:inline;
  padding-left: 50px;
  font-size: 30px;
}
.contact {
  border-radius: 2px solid black;
  border:10px
}
@media (max-width: 500px) {
  .container {
    padding: 0;
  }
  .dropdown {
    color: white;
    font-size: 2em;
    display: block;
    z-index: 99;
    /* z-index set the order of elements w3school */
  }
  .navigation-hover-media{
    background-color: #76E6CC;
    padding: 15px;

  }
  .navigation-hover {
    padding: 0;
  }
  .navigation .list {
    position: absolute;
    background: black;
    height: 100vh;
    width:100%;
    right:100%;
    /* left and top set the position of the element from its nearest positioned ancestor w3school*/
    top:0;
    padding-top: 10px;
    transition: all 0.5s ease;
    /* transition property allows to change property values smoothly over a duration, ease effect with a slow start then fast,  */
  }
  .navigation .list.duty {
    right:0;
  }
  .navigation .list li {
    display: block;
    text-align: center;
  }
  .navigation .list li a {
    display: inline-block;
    margin: 20px;
  }
  .navigation .list li a:hover {
    font-size: 1.5em;
    color: yellow;
  }
  .homepage .home-info {
    padding-top: 30px;
  }
  .homepage .home-info .info1 {
    font-size: 30px;
    margin-top: 20px;
  }
  .homepage .home-info .info2 {
    font-size: 30px;
    margin-top: 20px;
  }
  .homepage .home-info .info3 {
    font-size: 30px;
    margin-top: 20px;
  }
  .homepage .home-info .info4 {
    font-size: 30px;
    margin-top: 20px;
  }
  .biography .bio-info .picture img{
    width: 200px;
    height: 200px;
  }
  .resume .resume-info .resume-modal .modal-info img {
    width: 400px;
    height:400px;
  }
  .projects .heading-project {
  margin-top: 400px;
  margin-bottom: 50px;
  }
}
